@font-face {
  font-family: "Logirent";
  src: url("./logirent-font/Logirent-Bold.otf") format("opentype"),
    url("./logirent-font/Logirent-Bold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #101711;
}

.container {
  padding: 0 24px;
  max-width: 1440px;
}

.cta-btn {
  padding: 6px 12px;
  border-radius: 28px;
  background: #FFFFFF60;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  cursor: pointer;
  width: max-content;
}

.cta-btn span {
  flex: 1;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  padding: 0 24px;
}

.cta-btn .arrow {
  height: 40px;
  width: 40px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

/* ========= Hero Section ========== */

#hero-section {
  min-height: 100vh;
  position: relative;
}

#hero-section .text-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 900px;
}

#hero-section .title-text {
  font-size: 100px;
  font-weight: 600;
}

#hero-section .title-text:nth-of-type(1) {
  text-align: right;
}

#hero-section .title-text:nth-of-type(2) {
  text-align: left;
}

#hero-section .title-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

#hero-section .subtitle-text {
  margin-right: 40px;
  width: 220px;
  line-height: 1.2;
  color: #ffffff98;
  text-transform: uppercase;
  font-size: 14px;
}

#hero-section .cta-btn {
  margin-left: auto;
  margin-right: auto;
}

/* ========= Pitch Section ========== */


#pitch-section {
  min-height: 100vh;
  position: relative;
}

#pitch-section .text-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 900px;
}

#pitch-section .title-text {
  font-size: 100px;
  font-weight: 600;
}

#pitch-section .title-text:nth-of-type(1) {
  text-align: right;
}

#pitch-section .title-text:nth-of-type(2) {
  text-align: left;
}

#pitch-section .title-text:nth-of-type(3) {
  text-align: right;
}

#pitch-section .title-highlight {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

#pitch-section .highlight-text-div {
  background: white;
  padding: 0 32px;
  border-radius: 60px;
  margin-right: 12px;
}

#pitch-section .highlight-text-div span {
  color: black;
}

#pitch-section .subtitle-text {
  margin-top: 64px;
  line-height: 1.5;
  max-width: 500px;
  text-align: left;
  margin-left: auto;
}

/* ========= Feature Section ========== */
#feature-section {
  /*min-height: 100vh;*/
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  width: 100%;
  margin-top: 144px;
}

#feature-section .features {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#feature-section .card-outside {
  max-width: 25%;
  padding: 12px;
}

#feature-section .card {
  border-radius: 12px;
  border: 1px solid white;
}

#feature-section .card .img {
  min-height: 200px;
}

#feature-section .card .content {
  text-align: center;
  padding: 12px 12px 24px 12px;
}

#feature-section .card .title {
  font-size: 24px;
  margin-bottom: 12px;
}

#feature-section .card .desc {
  font-size: 14px;
  color: #ffffff90;
}

/* ========= Footer Section ========== */
#footer {
  min-height: 100vh;
  display: flex;
}

#footer .left {
  width: 70%;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#footer .left .conclusion-text {
  font-size: 100px;
  max-width: 550px;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
}

#footer .left .cta-btns {
  display: flex;
  align-items: center;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

#footer .left .cta-btns .cta-btn:nth-of-type(1){
  margin-right: 24px;
}

#footer .right {
  width: 30%;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#footer .social-media-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#footer .social-media-links a {
  color: white;
  margin: 0 18px;
}