.partners {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.partners img {
  max-width: 100px;
  opacity: 0.5;
  padding: 10px;
}

.partners img:hover {
  opacity: 1;
}

.partners a {
  display: inline-block;
}

@font-face {
  font-family: "Logirent";
  src: url("./logirent-font/Logirent-Bold.otf") format("opentype"),
    url("./logirent-font/Logirent-Bold.ttf") format("truetype");
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  background: #101711;
}

#bg {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  z-index: -1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Logirent", sans-serif;
  font-weight: normal;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  /* position: absolute;
    top: 0;
    left: 0; */

  max-width: 500px;
}

p {
  margin-top: 0;
}

.title {
  font-size: 70px;
  margin-bottom: 0;
  text-transform: lowercase;
  font-weight: normal;
  color: white;
}

canvas {
  opacity: 0.3;
  width: 100%;
  z-index: -1;
}

button {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #fff;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  color: #fff;
}

button:hover {
  background: rgba(255, 255, 255, 0.9);
  color: #000;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
}

i {
  font-size: 20px;
  padding: 5px 10px;
}

#tvl {
  /* font-size: 20px; */
  margin: 0;
}

hr {
  width: 100%;
  margin: 30px 0;
  opacity: 0.9;
}
