@font-face {
  font-family: "Logirent";
  src: url("./logirent-font/Logirent-Bold.otf") format("opentype"),
    url("./logirent-font/Logirent-Bold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #101711;
}

/* ========= Hero Section ========== */

#hero-section {
  min-height: 100vh;
  position: relative;
}

#hero-section .text-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 900px;
}

#hero-section .title-text {
  font-size: 100px;
  font-weight: 600;
}

#hero-section .title-text:nth-of-type(1) {
  text-align: right;
}

#hero-section .title-text:nth-of-type(2) {
  text-align: left;
}

#hero-section .title-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

#hero-section .subtitle-text {
  margin-right: 40px;
  width: 200px;
  line-height: 1.2;
  color: #ffffff98;
  text-transform: uppercase;
  font-size: 12px;
}

#hero-section .cta-btn {
  padding: 6px 12px;
  border-radius: 28px;
  background: #FFFFFF60;
  width: 120px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  cursor: pointer;
}

#hero-section .cta-btn span {
  flex: 1;
  font-size: 12px;
}

#hero-section .cta-btn .arrow {
  height: 40px;
  width: 40px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}


/* ========= Pitch Section ========== */


#pitch-section {
  min-height: 100vh;
  position: relative;
}

#pitch-section .text-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 900px;
}

#pitch-section .title-text {
  font-size: 100px;
  font-weight: 600;
}

#pitch-section .title-text:nth-of-type(1) {
  text-align: right;
}

#pitch-section .title-text:nth-of-type(2) {
  text-align: left;
}

#pitch-section .title-text:nth-of-type(3) {
  text-align: right;
}

#pitch-section .title-highlight {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

#pitch-section .highlight-text-div {
  background: white;
  padding: 0 32px;
  border-radius: 60px;
  margin-right: 12px;
}

#pitch-section .highlight-text-div span {
  color: black;
}

#pitch-section .subtitle-text {
  margin-top: 64px;
  line-height: 1.5;
  max-width: 500px;
  text-align: left;
  margin-left: auto;
}